.container-area{
    padding: 8px 20px !important;
    margin-top: 10px;
    background-color: #E7E9EB;
    border-radius: 5px;
}

.bg-white{
    color: #000!important;
    background-color: #fff!important;
}

.box-padding{
    padding: 1.5rem;
}

.locale-checkbox{
    position: relative;
    top: 0.1em;
    right: 3px;
}

.nav>li>button {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: unset;
}

.nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover{
    color: #fff;
    background-color: #337ab7;
}

.nav-pills>li{
    top: 4px;
}